$bodyBg: #f3f4fa;
$mainBg: #1e2845;
$mainColor: #274396;
$txtColor: #415674;
$txtBlack: #1b2336;
$txtColorLink: #bac4e1;
$sectionTitleBlueColor: #4b83fc;
$orange: #ff9066;
$white: #fff;
$black: #000;
$green: #66cfa9;
$red: #d82027;
$iconBg: #3e465d;
$linkSectionColor: #eff6fc;

$shadow: 11px 10px 38px 0 rgb(46 63 99 / 15%);

$fontFamily: 'Raleway', sans-serif;
$fontFamilytTwo: 'Nunito Sans', sans-serif;

$fontSizeNormal: 1.125rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;

$sideBarWidth: 384px;
$sideBarLogoHeight: 171px;
$spacing: 48px;
$mobileSpacing: 24px;
$borderRadius: 8px;

$mobile-width: 600px;
$tablet-width: 1024px;
